@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Pacifico');
 
*{
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
 
/*--------------Estilos Base-------------*/
/*--------------Estilos Base-------------*/
/*--------------Estilos Base-------------*/
/*--------------Estilos Base-------------*/
img {
    display: block;
    width: 100%;
    max-width: 100%;
}
 
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
 
.container {
    width: 100%;
    margin: auto;    
   
}
.login {
    background: #DE423A;
    color: white;
    padding: 10px;
    text-align: center;
    width: 330px; /* Ajusta el ancho según tus necesidades */
    margin: auto; /* Centra el formulario horizontalmente */
    display: flex; /* Habilita el modelo de caja flexible */
    flex-direction: column; /* Coloca los elementos en columna */
    justify-content: space-between; /* Distribuye uniformemente los elementos */
}
 
 
 
.container--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
 
.column {
    width: 100%;
}
 
/*--------------Estilos Header-------------*/
/*--------------Estilos Header-------------*/
/*--------------Estilos Header-------------*/
/*--------------Estilos Header-------------*/
.main-header {
    width: 100%;
    background-color: #b8b4b4;
}
.logo {
    font-size: 1.8em;
    color: #DE423A;
    padding: 10px;
    font-family: 'Pacifico', cursive;
    font-weight: 100;
}
 
.main-header__contactInfo__phone {
    background: #DE423A;
    color: white;
    margin: 0 auto;
    padding: 10px 15px;
}
 
.main-header__contactInfo__address {
     padding: 10px 15px;
     margin: 0;  
}
 
.main-header [class*="icon-"]:before {
    position: relative;
    top: 2px;
    right: 5px;
}
 
/********************Estilos del Menu********************/
/********************Estilos del Menu********************/
/********************Estilos del Menu********************/
.main-nav {
    width: 100%;
    position: relative;
    z-index: 2000;
    padding: 10px;
}
 
.icon-menu {
    display: block;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em
}
 
.social-icon {
    display: flex;
    justify-content: space-between;
}
 
.social-icon [class*="icon-"] {
    color: black;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
}
.social-icon__link {
    text-decoration: none;
}
 
.menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.85);
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: all 0.4s linear;
}
 
.menu__link {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}
 
.menu__link:hover {
    background: #DE423A;
}
 
.menu__link--select {
    background: #DE423A;
 
}
 
.mostrar {
    height: 196px;
}
 
/********************Estilos del Banner********************/
/********************Estilos del Banner********************/
/********************Estilos del Banner********************/
.banner {
    margin-top: -55px;
    position: relative;
}
 
.banner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 1000;
    top: 0;
}
.banner__img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.banner__content {
    width: 90%;
    color: white;
    text-align: center;
    position: absolute;
    z-index: 1500;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5em;
    font-weight: bold;
}
 
/********************Estilos Principales********************/
/********************Estilos Principales********************/
/********************Estilos Principales********************/
 
 
.group--color .container {
    background: #DE423A;
    color: white;
    padding: 10px;
    text-align: center;
}
 
.main__title {
    margin: 15px 0;
    font-size: 1.8em;
    font-family: 'Pacifico', cursive;
    font-weight: 100;
}
 
.column__title {
    font-size: 1.3em;
}
 
.main__about__description .column:nth-child(2) {
    padding: 10px;
}
 
.btn {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 120px;
    background: #DE423A;
    padding: 10px;
    margin: 10px auto;
    color: white;
}
 
.group__title {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-weight: 100;
    font-size: 1.8em;
    margin: 30px;
}
.today-special .column {
    margin-bottom: 30px;
    text-align: center;
}
.today-special__img {
    margin: auto;
    max-width: 350px;
}
.today-special__title {
    text-align: center;
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 20px;    
}
.today-special__price {
    font-size: 1.5em;
    color: #DE423A;
    font-weight: bold;
}
 
/************Estilos footer********************/
/************Estilos footer********************/
/************Estilos footer********************/
.main-footer {
    background: #222;
    color: white;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: .8em;
}
 
.copy {
    text-align: center;
    margin: auto;
    margin-top: 15px;    
}
 
.main-footer [class*="icon-"] {
    color: white;
    text-decoration: none;
}
 
.main-footer [class*="icon-"]:before {
    position: relative;
    top: 3px;
    right: 5px;
}
 
/************Estilos Responsive********************/
/************Estilos Responsive********************/
/************Estilos Responsive********************/
/************Estilos Responsive********************/
/************Estilos Responsive********************/
@media screen and (min-width:480px) {
    .logo {
        color: white;
        font-size: 25px;
    }
   
    .main-header__contactInfo {
        text-align: right;
    }
    .main-header__contactInfo__phone {
        background: none;
    }
    .main-header__contactInfo__address {
        color: white;
        font-size: 14px;
    }
    .main-nav {
        background: rgba(0,0,0,.7);        
    }
    .banner {
        margin-top: -157px;
        z-index: -1000;
    }    
    .banner__content {
        font-size: 2em;
    }
    .column--50 {
        width: 50%;
    }
    .column--50--25 {
        width: 49%;
    }
    .main__about__description {
        margin-top: 30px;
    }
    .main__about__description .column:nth-child(2) {
        padding-left: 20px;
        font-size: .9em;
    }
    .main__about__description .cover-image {
        height: 280px;
        object-fit: cover;
        padding-left: 5px;
    }
    .main__about__description .btn {
        margin: 0;
    }
    .today-special .column {
        border: 3px solid #ddd;
        padding: 3px;
    }
    .today-special__img {
        height: 200px;
        object-fit: cover;
    }
    .column--33 {
        width: 30%;
    }
    .main-footer .container--flex{
        align-items: flex-start
    }
}
/************Estilos 768********************/
@media screen and (min-width:768px) {
    .container {
        width: 1000px;
    }
    .main__title {
        font-size: 2.2em;
    }
    .main__about__description {
        margin-top: 30px;
    }
    .main__about__description .column--50:nth-child(2) {
        font-size: 1em;
    }
    .main__about__description .column--50:nth-child(2) .column__txt {
        line-height: 30px;
    }
    .column--50--25 {
        width: 24.5%;
    }
    .column__title {
        font-size: 1em;
    }
    .group__title {
        font-size: 2.2em;
    }
    .column--33 {
        width: 33%;
    }
   
   
}
/************Estilos 1024********************/
@media screen and (min-width:1024px){
 
   
 
    .logo {
        font-size: 2em;
        padding: 0;
    }
    .main-header__contactInfo__phone, .main-header__contactInfo__address {
        padding-right: 0;
        font-size: 1.15em;
    }
    .main-nav {
        padding: 0;
    }
    .banner__content {
        font-size: 2.5em;
    }
    .icon-menu {
        display: none;
    }
    .menu {
        position: static;
        width: auto;
        display: flex;
        height: auto;
    }
    .menu__link {
        padding: 20px;
    }
    .group--color .container{
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px;
    }
    .main__title {
        font-size: 2.5em;
    }
    .main__about__description .column--50:nth-child(2) .column__txt {
        line-height: 50px;
    }
 
    .main__about__description .cover-image {
        height: 350px;
        object-fit: cover;
        padding-left: 5px;
    }
    .today-special__title {
        font-size: 1.4em;
    }
    .today-special__price {
        font-size: 1.8em;
    }
    .main-footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }  
}
@media screen and (min-width:1600px) {
    .container {
        width: 1400px;
    }
 
    .today-special__img {
        height: 300px;
    }
}
 
 
/************Estilos Listado********************/
.fondo{
    background-color: #b2b2b2; /* Fondo gris */
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20vh;
      margin: 0;
      list-style-type: none;
}
 
.titulo{
    background-color: #b2b2b2; /* Fondo gris */
      display: flex;
      align-items: center;
      justify-content: center;
      height: 10vh;
      margin: 0;
      list-style-type: none;
}
.banner__content2 {
    width: 90%;
    color: white;
    text-align: center;
    position: absolute;
    z-index: 1500;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 2.5em;
    font-weight: bold;
}  
 
.icon-phone {
    font-style: italic;
}
 
/* Nuevo estilo para el formulario de inicio de sesión */
.login {
    background: #DE423A;
    color: white;
    padding: 30px; /* Aumento del espacio interno */
    text-align: center;
    width: 330px; /* Ajusta el ancho según tus necesidades */
    margin: 50px auto; /* Ajuste del margen para espacio arriba y abajo */
    display: flex; /* Habilita el modelo de caja flexible */
    flex-direction: column; /* Coloca los elementos en columna */
    justify-content: space-between; /* Distribuye uniformemente los elementos */
    border-radius: 10px; /* Añadido para suavizar los bordes */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Añadido para dar profundidad */
}
 
.login label {
    display: block;
    margin-bottom: 15px;
    text-align: left;
    color: white; /* Cambio del color de las etiquetas */
}
 
.login input[type="email"],
.login input[type="password"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 15px;
    border: none; /* Eliminado el borde para un aspecto más limpio */
    border-radius: 5px;
    background-color: #fff; /* Cambio del color de fondo */
    box-sizing: border-box;
}
 
.login input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold; /* Añadido para hacer más visible el texto */
    cursor: pointer;
}
 
.login input[type="submit"]:hover {
    background-color: #45a049;
}
/* Añadir estilos para las columnas del formulario */
.formulario-columna {
    display: flex;
    justify-content: space-between;
}
 
.formulario-columna > div {
    flex: 1;
    margin-right: 10px;
}
 
/* Ajustar el ancho de los elementos del formulario para que ocupen toda la columna */
.formulario-columna label,
.formulario-columna input,
.formulario-columna textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}
 
/* Ajustar el ancho del campo de teléfono automáticamente */
.telefono-container input[type="text"] {
    margin-bottom: 10px;
    width: auto;
}
 